@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

Container {
  background-color:black;
}

.font1 {
  font-family: 'Abhaya Libre', serif;
}

#nameText {
  font-size: 2rem;
}

p {
	font-weight: 400;
	color: black;
}

.heroParagraph {
	font-weight: 600;
	font-size: 1.25rem;
	color: var(--medium-gray);
}

h1 {
	transition: 0.2s;
	opacity: 1;
}

h1.fadeout {
	opacity: 0;
}

/*.nav-item {
	font-weight: 600;
}*/

.color-nav {
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
}

.nav-item .btn {
	font-weight: 600;
}

/*
CALL TO ACTION SECTION
*/

Button.cta-button {
	width: 200px;
	font-weight: 600;
}

.socialLogo {
	transition: 0.2s;
	filter: brightness(100%);

	:hover {
		filter: brightness(0%);
	};
}

/*
SKILLS
*/

.notableWork {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--medium-gray);
}

/*
HIGHLIGHTED WORK
*/

h3 {
	font-weight: 700;
	font-size: 1.4rem;
}