.interactiveImage {
	background-color: var(--secondary);
	margin: 15px;
	transform: translate(-5px, 5px);
	border-radius: 12px;
	transition: 0.2s;
}

.interactiveImage.active {
	transform: translate(-15px, 15px);
}

.imageCardImage {
	border-radius: 12px;
	transition: 0.2s;
	transform: translate(10px, -10px);
}

.interactiveImage.active .imageCardImage {
	position: relative;
	transform: translate(30px, -30px);
	box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}